@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body{

    font-family: 'Ubuntu Mono', monospace;
    font-size: 10px;
    text-align: center;
}

.responsive{
    
    display: grid;
    column-gap: 50px;
    grid-template-columns: 50% 50%;
    gap: 200px;

}

.title{
    font-size: 50px;
    margin: 200px 50px 0 40px;

}

.title h1{
    color: #6C63FF;
    text-shadow: 1px 1px 2px black;
}

#pForm{
    margin-top: auto;
    font-size: 25px;
}
Form{
    display:flex;
    flex-direction: column;
    justify-content: end;
    margin: 200px 100px 200px 20px;
    padding: 10px 20px;
    background-color: #E6E6E6;
    border-radius: 30px;
    border: 1px solid #3F3D56;
    width: 400px;    
}

input{
    margin: 12px 20px 10px 20px;
    padding: 10px 20px;
    width: 80%;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-family: 'Ubuntu Mono', monospace;
}

.cssField {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto;
    width: 100%;
    margin-bottom: 1rem;

   
  }

  
  .cssField input{
    color: rgb(83, 78, 78);
    height: 10px;
    width: 130px;
    padding: 20px;
   

}

.opField{
 background-color: white;
 border-radius: 20px;
 padding: 15px;
 font-family: 'Ubuntu Mono', monospace;
 margin-top: 10px;
 margin-right: 80px;
 border: none;
 color: rgb(83, 78, 78);
}



button{
    width: 120px;
    padding: 12px 12px;
    margin: 20px 150px;
    background-color: #2F2E41;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
   
}







