html{
  margin: 0;
  padding: 0;
  /* background-color: #45a049;*/
}

.cuerpo {
  /* background-color: aqua; */
  width: 100%;
  padding-top: 8vh;
}

.header {
  margin-top: 0 ;
  display: grid;
  /* grid-template-rows: repeat(2, auto); */
  height: 90vh;
  width: 100%;
  /* background-size: cover;
  background-position: center;
  background-attachment: fixed; */
}

header h1 {
  font-size: 2rem;
  margin-top: 18%;
  margin-left: 5%;
  font-family: 'Ubuntu Mono', monospace;
  text-align: left;
  line-height: 120%;
}

.portada {
  grid-row: 2;
  display: grid;
  /* grid-template-rows: 2; */
  /* gap: 10px; */
  /* background-color: blueviolet; */
  height: 80vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* flex-direction: column; */
}

.contenedorTextoCabecera {
  grid-column: 1;
  width: 50vw;
  backdrop-filter: blur(2px);
  /* background-color: #E6E6E6; */
  /* text-align: center; */
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; */
}
.contenedorSlogan{
  width: 35vw;
  background-color: #3F3D56;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}



.botonCrearCuentaCabecera {
  display: block;
  width: 30%;
  height: 8vh;
  /* margin: 0 auto; */
  margin-left: 5%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #3F3D56;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 5%;
  margin-bottom: 2%;
}
.botonCrearCuentaCabecera:hover {
  background-color: #6C63FF;
  transform: scale(1.05);
}

.botonCrearCuentaCabecera:active {
  background-color: #FD6584;
  transform: scale(0.95);
}

.botonCrearCuentaCabecera:focus {
  outline: none;
}

.botonCrearCuentaCabecera:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.botonIngresarCabecera {
  display: block;
  width: 30%;
  height: 8vh;
  /* margin: 0 auto; */
  margin-left: 5%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #2F2E41;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s, transform 0.3s;
  
}

.botonIngresarCabecera:hover {
  background-color: #FD6584;
  transform: scale(1.05);
}

.botonIngresarCabecera:active {
  background-color: #FD6584;
  transform: scale(0.95);
}

.botonIngresarCabecera:focus {
  outline: none;
}

.botonIngresarCabecera:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Opcional: Estilos adicionales para un efecto de sombra al presionar el botón */

.botonIngresarCabecera:active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.contenedorImagenCabecera {
  grid-column: 2;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* backdrop-filter: blur(1px); */
}



/* ======================== */

h1 {
  color: #333333;
  font-size: 24px;
  margin: 0;
}

p {
  color: #666666;
  font-size: 18px;
}

h2 {
  color: #333333;
  font-size: 24px;
}

.team {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.team-member {
  text-align: center;
  width: 30%;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.tarjetas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sectionQue{
  background-color: #3F3D56;
  height: 100vh;
  width: 100%;
  padding-bottom: 5%;
}

.contenedorQue{
  grid-column: 2;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}
.textQue{
  grid-column: 2;
  width: 50%;
}
.imageQue{
  grid-column: 1;
  margin-right: 5%;
}
.imageQue img{
  height: 40vh;
}