@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    background-color: #E6E6E6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 8vh;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
ul{
    grid-column: 1;
    list-style: none;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-size: 1rem;
}
.contenedorLogo{
    color: #3F3D56;
    /* color: #FD6584; */
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2rem;
    margin-top: 1.5%;
}
a{
    color: #3F3D56;
}